*
!.dockerignore
!package.json
!bun.lock
!turbo.json
!apps
!apps/sync
!apps/sync/**
!apps/web
!apps/web/package.json
!packages
!packages/core
!packages/core/**
!packages/logs
!packages/logs/**

**/node_modules
**/.next
**/.turbo
**/dist
**/.DS_Store
**/*.log
**/.env
**/.env.*
!.env.example
