PHX_SERVER=true
PORT=4000
PHX_HOST=localhost
SECRET_KEY_BASE=replace-me
FIREBASE_PROJECT_ID=replace-me
COLLAB_BACKUP_PATH=/tmp/papyrus-collab/backups.dets
POSTHOG_API_HOST=https://us.i.posthog.com
POSTHOG_API_KEY=
